{% extends "base.html"%}
{% load static%}

{%block title%}
    {{post.title}}
{%endblock%}

{%block css%}
    <link rel="stylesheet" href = "{%static "post-detail.css"%}"/>
    <link rel="stylesheet" href = "{%static "all-posts.css"%}"/>
{%endblock%}


{%block body%}
<section id="summary">
    <h2>{{post.title}}</h2>
    <article>
        <img src="{%static "images/"|add:post.image%}" alt="{{post.title}}"/>
        <address>{{post.author}}</address>
        <div>Last updated on <time>{{post.date|date:"D d M Y"}}</time></div>
    </article>
</section>

<main>
    <p>
        Federal officials searched Mar-A-Lago in Aug. 2022 for White House documents Trump retained after leaving office, which resulted in them finding more than 11,000 documents—including more than 100 classified ones—and Trump eventually getting indicted for willfully retaining national defense information and obstruction, among other charges.
        Citing anonymous sources, ABC News reports FBI officials did not search a locked closet—which investigators learned after the search that Trump had changed the lock on months earlier—while his attorney searched the property for classified materials to turn over the government in response to a subpoena.
    </p>
    <p>
        Federal officials searched Mar-A-Lago in Aug. 2022 for White House documents Trump retained after leaving office, which resulted in them finding more than 11,000 documents—including more than 100 classified ones—and Trump eventually getting indicted for willfully retaining national defense information and obstruction, among other charges.
        Citing anonymous sources, ABC News reports FBI officials did not search a locked closet—which investigators learned after the search that Trump had changed the lock on months earlier—while his attorney searched the property for classified materials to turn over the government in response to a subpoena.
    </p>
    <p>
        Federal officials searched Mar-A-Lago in Aug. 2022 for White House documents Trump retained after leaving office, which resulted in them finding more than 11,000 documents—including more than 100 classified ones—and Trump eventually getting indicted for willfully retaining national defense information and obstruction, among other charges.
        Citing anonymous sources, ABC News reports FBI officials did not search a locked closet—which investigators learned after the search that Trump had changed the lock on months earlier—while his attorney searched the property for classified materials to turn over the government in response to a subpoena.
    </p>


{%endblock%}